@use '../utils/variables' as *;

.attribution {
    font-size: $base-fs;
    position: absolute;
    bottom: 1rem;
    color: white;
    text-align: center;

    a {
        color: rgb(255, 162, 255);
    }
}